// Primary
$white: #fff;

$yellow-vivid-400: hsl(44, 92%, 63%);
$yellow-vivid-500: hsl(42, 87%, 55%);
$yellow-vivid-900: hsl(15, 86%, 30%);

// Neutrals
$orange-grey-050: hsl(23, 04%, 96%);
$orange-grey-100: hsl(23, 17%, 89%);
$orange-grey-200: hsl(23, 30%, 80%);
$orange-grey-400: hsl(23, 43%, 60%);
$orange-grey-500: hsl(23, 56%, 49%);
$orange-grey-600: hsl(23, 69%, 39%);
$orange-grey-700: hsl(23, 82%, 30%);
$orange-grey-900: hsl(23, 88%, 58%);

// Supporting
$red-200: hsl(360, 77%, 78%);
$red-300: hsl(360, 71%, 66%);
$red-400: hsl(360, 64%, 55%);

$border-radius: 4px;
